
<div>
  <%= flash[:create] %>
</div>

<div>
  <%= flash[:update] %>
</div>


<div>
  <p>title：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</div>
